{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="alert alert-danger text-center">
			<p>{{ message }}</p>
			<p>Le plus tôt possible
				{{ date }}</p>
		</div>
	</div>
{% endblock %}
