body {
    margin: 0px;
    font-family: "Droid Sans Mono";
    font-size: medium;
    background-color: white;
    color: black;
    min-height: 75rem;
    padding-top: 4.5rem;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
form[name="persons"]{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 12px;
    border-radius:5px;
    background: rgba(216, 135, 185, 0.7);
}

form[name="corporations"]{
    margin: auto;
    padding: 12px;
    border-radius:5px;
    background: rgba(216, 135, 185, 0.7);
}
form[name="persons"] input {
    outline:none;
    box-sizing: border-box;
    font-weight: bold;
    padding: 10px 6px;
    background:transparent;
}
#message_person_register {
    width: 90%;
    margin: auto;
}
