body {
    margin: 0px;
    font-family: "Droid Sans Mono";
    font-size: medium;
    background-color: white;
    color: black;
    min-height: 75rem;
    padding-top: 4.5rem;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
form[name="persons"]{
    width: 96%;
    height: auto;
    margin: auto;
    padding: 12px;
    color: white;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.7);
}
form[name="corporations"]{
    width: 32%;
    height: auto;
    margin: auto;
    padding: 12px;
    color: white;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.7);
}
form[name="persons"] input {
    outline:none;
    border-top: none;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    font-weight: bold;
    padding: 10px 6px;
    background:transparent;
    color: white;
}
#message_person_register {
    height:50px;
    width: 90%;
    margin: auto;
    margin-bottom:10px;
}
