{% extends 'base.html.twig' %}
{% block body %}
	<div class="container mt-2">
		<form method="post">
			<div class="form-group">
				<label>Retiré par :</label>
				<input type="text" name="person_id" class="form-control" placeholder="Entrer le numéro de CIN du personne rétraiteur">
			</div>
			<button type="submit" class="btn btn-danger">Valider</button>
		</form>
	</div>
</div>{% endblock %}
