{% extends 'base.html.twig' %}

{% block title %}
	Nouvelle personne
{% endblock %}


{% block body %}
	<div class="card container p-0 mt-2" style="width: 60%;min-width:480px;font-style:italic;">
		<div class="card-header">
			<h5>
				<i>Inscription</i>
			</h5>
		</div>
		<div class="card-body">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="mt-2">
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
