{% extends 'base.html.twig' %}

{% block title %}
	Nouvelle personne
{% endblock %}


{% block body %}
	<div class="container">
		{{ form_start(form) }}
		<h3 class="text-center m-3 text-info">Ajouter un nouvel personne physique</h1>
		{{ form_widget(form) }}
		<div class="mt-5">
			<button type="submit" class="btn btn-primary">Enregistrer</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
