body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: teal;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    height: 100vh;
}

header {
    text-align: center;
    width: 100vh;
}

header h1 {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 0px black, 4px 4px 0px blue;
}

#about {
    font-size: 1.2em;
    font-family: monospace;
    text-shadow: 1px 1px 0px black, 2px 2px 0px black;
}

#taux {
    text-align: center;
    width: 90vh;
    height: 40vh;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 5px 0px black, 5px 0px 0px black, -5px 0px 0px black, 0px -5px 0px black;
}

.taux:hover {
    background-color: pink;
    animation: taux_hover 2s;
    color: black;
}

@keyframes taux_hover {
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: none;
    }
}

.taux {
    box-shadow: 0px 1px 0px black, 1px 0px 0px black, -1px 0px 0px black, 0px -1px 0px black;
    width: 120px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.595);
    height: 120px;
    border-radius: 50px;
    font-size: 2em;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#login {
    text-align: center;
    margin-bottom: 10%;
    width: 100vh;
    height: 50px;
}

#login a {
    text-decoration: none;
    padding: 12px;
    background-color: black;
    border: 3px solid rgb(1, 19, 19);
    border-radius: 5px;
    color: white;
}

#login a:hover {
    transform: scale(1.2);
    background-color: green;

}

form {
    width: 360px;
    height: 460px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.595);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

input {
    padding: 9px;
    border: none;
    outline: none;
    width: 80%;
    text-align: center;
    background: transparent;
    font-size: 1.3em;
    color: white;
    border-bottom: 3px solid white;
}

input:focus {
    border-color: tomato;
    transform: scale(1.1);
}

form h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

form button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background: darkgreen;
    border-radius: 5px;
    font-size: 1em;
    color: white;
}

form button:hover {
    background: rgb(86, 136, 86);
}


@media (max-width: 480px) {
    form {
        height: 90vh;
    }
}