{% extends "base.html.twig" %}

{% block title %}
	Création de nouveau taux
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Ajout d'un nouveau taux de service</h1>
		{{ form_start(form) }}
		{{form_widget(form)}}
		<div class="form-group">
			<input type="submit" value="Ajouter" class="btn btn-primary">
		</div>
		{{ form_end(form) }}

	</div>
{% endblock %}
