#info-person   li {
    list-style: none;
}
#info-person {
    margin-top: 10px;
}
#info-person {
    width:70%;
    border: 1px solid violet;
    margin-left:15%;
}
#info-person .label li {
    font-weight: bold;
}
#info-person .value li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#info-person li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}
.container-fluid a {
    text-decoration: none;
}
#show th {
    width: 360px;
}
#show a {
    text-decoration: none;
}
#show td {
    font-size: 1.1em;
}
