body {
    margin: 0;
    padding: 0;
    font-family: "Droid Sans Mono";
    font-size: medium;
    background-color: white;
    color: black;
    min-height: 75rem;
    padding-top: 4.5rem;
    box-sizing: border-box;
}
nav {
    background: #08031a;
}
nav li a {
    width: 100px;
}
#icone-nav {
    color:red;
}
.icone-service {
    color:chartreuse;
}
#nav-brand {
    font-size:1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}
#nav-brand i {
    color: white;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
#q {
    padding:2px;
    margin-top:3px;
    width:310px;
    text-align:center;
    border-radius:5px;
    background:none;
    outline:none;
    color: white;
    font-size: 1.1em;
}

