body {
    margin: 0;
    padding: 0;
    font-family: "Droid Sans Mono";
    font-size: medium;
    background-color: darkslategrey;
    color: black;
    min-height: 75rem;
    padding-top: 4.5rem;
    box-sizing: border-box;
}
#icone-nav {
    color:red;
}
.icone-service {
    color:chartreuse;
}
#nav-brand {
    box-shadow: 5px 0px 5px black;
    padding: 5px;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
