{% extends 'base.html.twig' %}
{% block title %}Gestion des personnes{% endblock %}
{% block body %}
	<div class="container mt-2 p-2">
		{% if empty is defined %}
			<p class="text-center">Aucune personne dans la base de données</p>
		{% else %}
			<table class="table table-primary text-center">
				<thead>
					<tr>
						<th>Personne</th><th>Association(s)</th><th>Dépot(s)</th>
					</tr>
				</thead>
				<tbody>
					{% for person in persons %}
						<tr>
							<td>
								<a class="btn btn-primary" href="{{ path("show", {'id':person.id}) }}">N°CIN: {{ person.identity }}</a>
							</td>
							<td>
								<a class="btn btn-warning mr-2" href="{{ path("person_corporation", {'id':person.id}) }}"><span class="fas fa-street-view"></span> Voir la liste</a>
							</td>
							<td>
								<a class="btn btn-success mr-2" href="{{ path("depot", {'id':person.id, 'id_morale':0}) }}"><span class="fas fa-edit"></span> Voir la liste</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}
