<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Digital-Epargne-Service
			{% endblock %}
		</title>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% include 'nav.html.twig' %}
			<main>
				{% block body %}{% endblock %}
			</main>
			{{ encore_entry_script_tags('app') }}
			{% block javascripts %}{% endblock %}
		</body>
	</html>
