<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ encore_entry_link_tags('admin') }}
		<title>
			{% block title %}
				Digital-Epargne-Service
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% include 'layout/nav.html.twig' %}
		{% block body %}{% endblock %}
		{{ encore_entry_script_tags('admin') }}
	</body>
</html>
