<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand text-primary" href="/">
			<span class="fas fa-cube"></span>
			Epargne</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto mb-2 mb-md-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path("person_register") }}">
						<span class="far fa-user"></span>
						Nouveau personne</a>
				</li>
			</ul>
			<form class="d-flex" action="">
				<input style="margin-top:3px" class="form-control mr-2 mt-6" type="search" placeholder="Tapez le numéro de la CIN" aria-label="Search" name="q" id="id">
				<button class="btn btn-outline-success" type="submit">
					<span class="fas fa-search"></span>
				</button>
				<a class="nav-link btn btn-outline-danger ml-1" aria-current="page" href="{{ path("person_register") }}">
					<span class="fas fa-power-off"></span>
				</a>
			</form>
		</div>
	</div>
</nav>
